

.employment-block{
    padding-left: 5px;
    /* background-color: green; */
  
  }
  
  .company-title-location {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .company-title-location p {
    margin: 0; 
    padding-left: 5px; 
}
  
  .company-positions{
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .company-position{
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  
  }
  
  .project-role-client{
    flex: 1;
    display: flex;
  }
  
  .project-descriptions p{
    padding-left: 5px;
  }