/* App.css */

* {
  margin: 0;
}


#resume-content {
  box-sizing: border-box;

  width: 208mm;   
  height: 295mm;  
  margin: 0 auto;
  

  
}



.section-header {
  display: flex;
  align-items: flex-end;
  position: relative;

}

.section-header::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #000; 
  flex-grow: 1;
  position: relative;  
  top: -1px;  
} 
