/* App.css */

* {
  margin: 0;
}

#resume-content {
  width: 800px;
  min-height: 842px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.185);
  padding:5px
}



.section-header {
  display: flex;
  align-items: flex-end;
  position: relative;

}

.section-header::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #000; 
  flex-grow: 1;
  position: relative;  
  top: -1px;  
} 
