/* App.css */

* {
  margin: 0;
}

#resume-content {
  width: 800px;
  min-height: 842px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.185);
  padding:5px
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  height: 50px;
}





.row-text {
  flex: 1;
  display: flex;
  text-align: right;
}

.user.contact{
  padding-left: 10px;

}

.section-header {
  display: flex;
  align-items: flex-end;
  position: relative;

}

.section-header::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #000; 
  flex-grow: 1;
  position: relative;  
  top: -1px;  
} 


.employment-block{
  padding-left: 5px;
  background-color: green;

}

.company-title-location {
  display: flex;
  align-items: center;
  margin: 0;
}



.company-positions{
  display: flex;
  align-items: center;
  margin: 0;
}

.company-position{
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  background-color: red;

}

.project-role-client{
  flex: 1;
  display: flex;
}

.project-descriptions{
}