.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    height: 50px;
  }
  
  .user.contact{
    padding-left: 10px;
    flex: 1;
    display: flex;
    text-align: right;
  }
  